# 🔹 Python/Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
db.sqlite3
media/
staticfiles/
venv/
env/

# 🔹 Node.js (React)
node_modules/
build/
dist/
npm-debug.log
package-lock.json
.pnpm-debug.log
.npmrc

# 🔹 Môi trường
.env
.env.local
.env.production
.DS_Store


